

// Then we'll import the compass extension
@import "h5bp";

// Now, you can simply include everything
// (except print and helpers) by uncommeting this line
@include h5bp-normalize;

// Or, you can import the "overrides" partial if
// you want more control over individual mixins
@import "partials/overrides";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/fonts";
@import "partials/page";

// Helpers classes should come second-to-last

// Media should come last
@import "partials/base";
@import "partials/media";
@import "partials/video-background";
@import "partials/headlines";
@import "partials/menu";
@import "partials/section";
@import "partials/intro";
@import "partials/bootstrap";
@import "partials/fontAwesome";
@import "partials/buttons";
@import "partials/button--modal";
@import "partials/counters";
@import "partials/carousel";
@import "partials/slider";
@import "partials/footer";
@import "partials/form";
@import "partials/testimonial";

