$lava-color: #C40E22;
$spiro-color: #1DBFEB;
*, *::after, *::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	@extend section;
	position: absolute;
}
h1 {
	padding: 0;
	margin: 0;
}
section {
	height: 100%;
	width: 100%;
	
	@media only screen and (max-width: 768px) {
  	/* Style adjustments for viewports 768px and over go here */
  	height: auto;
	
	}
}
video {
	@media only screen and (max-width: 768px) {
	  	/* Style adjustments for viewports 768px and over go here */
	  	height: 100%;
		
		}	
}
.container {
	height: 100%;
	width: 100%;
}
p {
	font-family: 'Lora', serif;
	color: white;
}