// This file must be imported before loading html5-boilerplate

// base
$line-height: 1.4 !default;
$font-color: #222 !default;

$link-color: #00e !default;
$link-hover-color: #06e !default;
$link-visited-color: #551a8b !default;

$selected-font-color: #fff !default;
$selected-background-color: #ff5e99 !default;

$invalid-background-color: #f0dddd !default;

$lava-color: #C40E22;
$spiro-color: #1DBFEB;
*, *::after, *::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	width: 100%;
	position: absolute;
}