$lava-color: #C40E22;
$spiro-color: #1DBFEB;
*, *::after, *::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	@extend section;
	position: absolute;
}
h1 {
	padding: 0;
	margin: 0;
}
section {
	height: 100%;
	width: 100%;
}
.container {
	@extend section;
}