$lava-color: #C40E22;
$spiro-color: #1DBFEB;
*, *::after, *::before {
  @include box-sizing(border-box);
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	width: 100%;
	position: absolute;
	height: 100%;
}