p {
  font-family: "Lato", sans-serif;
  color: #6b2b03;
}

.btn-animate {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #FFF;
  position: relative;
  display: inline-block;
  margin: 20px auto;
  width: 200px;
  height: 50px;
  overflow: hidden;
    & > svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 50px;
      stroke-width: 8px;
      stroke: $lava-color;
      stroke-linecap: round;
      fill: transparent;
    }
    & > button {
      color: $spiro-color;
      width: 200px;
      height: 50px;
      display: inline-block;
      text-align: center;
      font-size: 20px;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 2.3;
      background-color: transparent;
      border: none;
      @include transition (all .2s ease);

        &:before {
          position: absolute;
          content: '';
          height: 50px;
          z-index: 0;
          width: 50px;
          background-color: $spiro-color;
          @include border-radius (50%);
          top: 0;
          left: -63%;
          @include transition (all .4s ease);
          @include transform (scale(0));
          opacity: 0;
        }
    }
    &:hover > svg {
      @include animation (1s pencil linear forwards);
    }
}

@include keyframes (pencil) {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 700;
    stroke-width: 8px;
  }
  75% {
    stroke-dasharray: 900;
    stroke-dashoffset: 400;
    stroke-width: 3px;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 900;
    stroke-dashoffset: 400;
    stroke-width: 3px;
    fill: #191919;
  }
}
