.morph-button {
	position: relative;
	display: block;
	margin: 20px auto;
	&.open {
		& .morph-content {
			pointer-events: auto;
		}
	}
}
.morph-button {
	&.open > button {
		pointer-events: none;
	}
}
.morph-content {
	width: 300px;
	height: 80px;
	pointer-events: none;
}
.morph-button-fixed > button {
	z-index: 1000;
	width: 100%;
	height: 100%;
	@include transition (opacity 0.1s 0.5s);
}

.morph-button-fixed.open > button {
	opacity: 0;
	@include transition (opacity 0.1s);
}

.morph-button-fixed .morph-content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	@include transition (opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
}

.morph-button-fixed.open .morph-content {
	opacity: 1;
}

.morph-button-fixed .morph-content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	@include transition (opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s);
}

.morph-button-fixed.open .morph-content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	@include transition (opacity 0.3s 0.5s);
}

.morph-button-fixed.active > button {
	z-index: 2000;
}

.morph-button-fixed.active .morph-content {
	z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
	@include transition (opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s);
}

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
	@include transition (width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s);
}

/* Morph Button Style: Overlay */
.morph-button-overlay .morph-content {
	overflow: hidden;
	background: $lava-color;
}

.morph-button-overlay.open .morph-content {
	top: 0 !important;
	left: 0 !important;
	width: 100%;
	height: 100%;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	pointer-events: none;
	@include transition (opacity 0.5s);
}

.morph-button-modal.open::before {
	opacity: 1;
	pointer-events: auto;
}

.morph-button-modal.active::before {
	z-index: 1800;
}

.morph-button-modal .morph-content {
	overflow: hidden;
	@include transition (opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
}

.morph-button-modal.open .morph-content {
	top: 50% !important;
	left: 50% !important;
	margin: -210px 0 0 -300px;
	width: 600px;
	height: 420px;
	@include transition (width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s);
}


.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 770px) {
	.content-style-overlay {
		font-size: 75%;
	}

	.content-style-overlay .icon-close {
		top: 5px;
		right: 5px;
	}
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.icon-close:hover {
	color: #a50a05;
}


/* Style for overlay */

.content-style-overlay {
	padding: 100px 50px;
	text-align: center;
}


.content-style-overlay p {
	margin: 0 auto;
	padding: 10px 0;
	max-width: 700px;
	text-align: justify;
	font-weight: 300;
	font-size: 1.5em;
}

.content-style-overlay .icon-close {
	border: 2px solid $spiro-color;
	border-radius: 50%;
	line-height: 2.8;
}

.content-style-overlay .icon-close:hover {
	border-color: #a50a05;	
}

/* Style for text modal */
.content-style-text {
	padding: 60px;
	text-align: left;
}

.content-style-text h2 {
	font-weight: 300 !important;	
	font-size: 4em !important;
	text-transform: uppercase !important;
}

.content-style-text p {
	color: rgba(255,255,255,0.5);
	font-weight: 300;
	font-size: 1.15em;
	line-height: 1.4;
}

.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}

.content-style-text .icon-close {
	top: 0;
	right: 0;
	color: rgba(0,0,0,0.2);
}

.content-style-text .icon-close:hover {
	color: #f9e1c9;
}









