/*----------------------------------------------------------------
    Skills rings
----------------------------------------------------------------*/
.chart {
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 178px;
    height: 178px;
    text-align: center;
        & canvas {
            width: 178px;
            height: 178px;
        }
}
.chart-content {
    position: absolute;
    left: 10%;
    width: 80%;
}
.percent,
.count-number,
.count-number-done {
    color: #C40E22;
    font-weight: 700;
    font-size: 2.333em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.34;
}
.text-light .percent,
.text-light .count-number,
.text-light .count-number-done {
    color: #fff;
}
.percent:after {
    content: '%';
}
.chart-title,
.count-subject {
    font-weight: 700;
    font-size: 0.889em;
    font-family: 'Montserrat', sans-serif;
}
.chart-title {
    color: #999;
}
.text-light .chart-title,
.text-light .count-subject {
    color: rgba(255,255,255,0.7);
}
.text-light .timeline .experience-info p {
    color: rgba(255,255,255,0.7);
}
.text-light .timeline time {
    color: rgba(255,255,255,0.5);
}
.text-light .timeline .experience,
.text-light .timeline .experience .circle {
    border-color: rgba(255,255,255,0.5);
}

/*----------------------------------------------------------------
    Milestone
----------------------------------------------------------------*/
.count-item {
    text-align: center;
        & .small-icon {
            float: none;
            margin: 0 auto 0.333em auto;
        }
}
.count-subject {
    margin-top: 0;
    color: #1DBFEB;
    opacity: 0;
}

/*----------------------------------------------------------------
    onScreen animations
----------------------------------------------------------------*/
.count-subject.subject-on {
    opacity: 1;
    @include transform (translateX(0));
    @include animation (smalllfade .65s ease forwards);
}

@include keyframes (fade) {
    to {
        opacity: 1;
    }
}
@include keyframes (photocaption) {
    to {
        opacity: 1;
        @include transform (translateY(0));
    }
}
@include keyframes (mcaption) {
    to {
        opacity: 1;
        @include transform (translateX(0));
    }
}
@include keyframes (lfade) {
    from {
        opacity: 0;
        @include transform (translateX(-3em));
    }
}
@include keyframes (smalllfade) {
    from {
        opacity: 0;
        @include transform (translateX(-1em));
    }
}
@include keyframes (rfade) {
    from {
        opacity: 0;
        @include transform (translateX(3em));
    }
}



