footer {
    position: relative;
    color: #545766;
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    & .meta-social ul {
        float: left;
        width: 300px;
        & li {
            width: 35px;
            height: 35px;
            float: left;
            text-align: center;
            & a {
                border-color: #545766;
                color: #545766;
            }
        }
    }
    .fa {
        padding: 0;
        margin: 0;
        @include border-radius (none);
    }
    & a {
    color: #545766;
    text-decoration: none;
    }
}
footer ul li a:hover {
  color: #fff;
}
.meta-social ul li a.twitter-share:hover, ul.meta-social li a.twitter-share:hover {
	border-color: #00acee;
	background-color: #00acee;
}
.meta-social ul li a.facebook-share:hover, ul.meta-social li a.facebook-share:hover {
	border-color: #3b5998;
	background-color: #3b5998;
}
.meta-social ul li a.google-plus-share:hover, ul.meta-social li a.google-plus-share:hover {
	border-color: #dd4b39;
	background-color: #dd4b39;
}
.meta-social ul li a.linkedin-share:hover, ul.meta-social li a.linkedin-share:hover {
	border-color: #007bb6;
	background-color: #007bb6;
}
.meta-social ul li a.instagram-share:hover, ul.meta-social li a.instagram-share:hover {
	border-color: #517fa4;
	background-color: #517fa4;
}
.meta-social ul li a.pinterest-share:hover, ul.meta-social li a.pinterest-share:hover {
    border-color: #c8232c;
    background-color: #c8232c;
}
footer li {
    outline: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    background: transparent;
    outline-style: solid;
    vertical-align: baseline;
    @include box-sizing (border-box);
    color: #fff;
    list-style-type: none;
    margin-right: 5px;
    text-align: left;
    & a {
        @include transition (background-color 0.1s linear, color 0.1s linear);
        color: #545766;
        text-decoration: none;
        cursor: pointer;
    }
}
#top-footer h4 {
    margin-top: 1.34em;
    text-align: left;
}
#top-footer .widget {
    margin-bottom: 0;
    font-size: 0.778em;
}
footer .row-content.buffer {
    padding-top: 2%;
    padding-bottom: 0;
}

#bottom-footer {
    font-size: 0.667em;
}
.meta-social ul li a, ul.meta-social li a {
    display: inline-block;
    width: 2.667em;
    height: 2.667em;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    @include border-radius (50%);
    color: rgba(0, 0, 0, 0.18);
}
.widget.meta-social ul li a i {
    vertical-align: -15%;
}
.meta-social ul li a i, ul.meta-social li a i {
    line-height: 2em;
}