.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: lighten(black, 10%);
		& .overlay-close {
			width: 80px;
			height: 80px;
			position: absolute;
			right: 20px;
			top: 20px;
			overflow: hidden;
			border: none;
			background: url(../images/cross.png) no-repeat center center;
			text-indent: 200%;
			color: transparent;
			outline: none;
			z-index: 100;
		}
		& nav {
			text-align: center;
			position: relative;
			top: 10%;
			height: 60%;
			font-size: 74px;
		}

		& ul {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			height: 100%;
			position: relative;
			li {
				display: block;
				@media screen and (max-height: 30.5em) {
					min-height: 34px;
				}
			}
				a {
					font-weight: 500;
					display: block;
					color: $lava-color;
					@include transition-property(color);
  					@include transition-duration(0.2s);
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					&:hover , &:focus{
						color: $spiro-color;
						@include transition (all 0.6s ease);
					}
				}
			}
		@media screen and (max-height: 30.5em) {
				height: 70%;
				font-size: 34px;
			}
		}
nav a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
}
nav a:after {
  position: absolute;
  left: 50%;
  right: 50%;
  height: 3px;
  bottom: 0px;
  content: "";
  background-color: $spiro-color;
  // transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  @include transition (0.6s (cubic-bezier(0.68, -0.55, 0.265, 1.55)));
  @include transform (translate3d(0, 0, 0));
}
nav a:hover:after, .active a:after {
  left: 10px;
  right: 10px;
}
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	@include transition (opacity 0.5s);
	@include transition (visibility 0.5s);
	&.open {
		height: 100%;
		opacity: 1;
		visibility: visible;
		@include transition-property(opacity);
  		@include transition-duration(0.7s);
		& nav ul {
			opacity: 1;
			@include transform(rotateX(0deg))
		}
	}
	& nav {
		@include perspective(1200px);
		ul {
			opacity: 0.4;
			@include transform(translateY(-25%));
			@include transform(rotateX(35deg));
			@include transition(transform 0.5s);
			@include transition(opacity 0.5s);
		}
	}
}
.overlay-hugeinc.close nav ul {
	@include transform (translateY(25%));
	@include transform (rotateX(-35deg));
}
.toggle span {
  display: block;
  background: white;
  width: 60px;
  height: 2px;

}
.toggle  span:nth-child(1) {
  margin-bottom: 10px;
}
.toggle  span:nth-child(3) {
  margin-top: 10px;
}
.toggle {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 45px;
  right: 30px;
}

// logo

h1.logo {
	margin-top: 15px;
	width: 230px;
	height: 69px;
	float: left;
	text-indent: -9999px;
		& a {
		float: left;
		padding: 0 !important;
		margin: 0 !important;
		width: 230px;
		height: 69px;
		background-image: url("../images/common1.png");
		background-position: center 0;
		background-repeat: no-repeat;
		background-position: 0 -120px !important;
		}
}


.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  @include border-radius (15px);
  border: 2px solid $lava-color;
  bottom: 10px;
  left: 50%;
  margin-left: -12px;
  outline: none;
}

.scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  @include border-radius(4px);
  background: $spiro-color;
  @include animation-duration (1s);
  @include animation-iteration-count (infinite);
  @include animation-name (scroll);
}

@include keyframes(scroll) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform (translateY(20px));
  }
}