video { 
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto;
  height: auto;
  z-index: -100;
  @include filter (grayscale(1) brightness(0.50) contrast(1.05));
  background-size: cover;
  opacity: 1;

}

// .grayscale {
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
//   -moz-filter: grayscale(100%);
//   -ms-filter: grayscale(100%);
//   -o-filter: grayscale(100%);
//   filter: url('../assets/grayscale.svg#greyscale');
//   filter: gray;
//   -webkit-filter: grayscale(1);
// }

.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  @include border-radius (15px);
  border: 2px solid $lava-color;
  bottom: 10px;
  left: 50%;
  margin-left: -12px;
  outline: none !important;
}

.mouse .scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  @include border-radius(4px);
  background: $spiro-color;
  @include animation-duration (1s);
  @include animation-iteration-count (infinite);
  @include animation-name (scroll);
}

@include keyframes(scroll) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform (translateY(20px));
  }
}