
video { 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  @include filter (grayscale(1) brightness(0.50) contrast(1.05));
  background-size: cover;
  opacity: 1;

}
// .grayscale {
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
//   -moz-filter: grayscale(100%);
//   -ms-filter: grayscale(100%);
//   -o-filter: grayscale(100%);
//   filter: url('../grayscale.svg#greyscale');
//   filter: gray;
//   -webkit-filter: grayscale(1);
// }