article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
body,
.container,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, select, input, textarea {
  color: #222;
}

body {
  margin: 0;
}

.container {
  background-color: #1a1a1a;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: absolute;
}

h1 {
  padding: 0;
  margin: 0;
}

section, body, .container {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-filter: grayscale(1) brightness(0.5) contrast(1.05);
  filter: grayscale(1) brightness(0.5) contrast(1.05);
  background-size: cover;
  opacity: 1;
}

.cd-headline.slide span {
  display: inline-block;
  padding: .2em 0;
  font-weight: bold;
  color: #C40E22;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: .2em;
  color: white;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -moz-animation: slide-in 0.6s;
  -webkit-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  -moz-animation: slide-out 0.6s;
  -webkit-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

.cd-intro {
  text-transform: uppercase;
  text-align: center;
  margin: 4em auto;
}

.cd-headline {
  font-size: 9rem;
  line-height: 1.2;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #1a1a1a;
}
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}
.overlay nav {
  text-align: center;
  position: relative;
  top: 10%;
  height: 60%;
  font-size: 74px;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.overlay ul li {
  display: block;
}
@media screen and (max-height: 30.5em) {
  .overlay ul li {
    min-height: 34px;
  }
}
.overlay ul a {
  font-weight: 500;
  display: block;
  color: #C40E22;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.overlay ul a:hover, .overlay ul a:focus {
  color: #1DBFEB;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media screen and (max-height: 30.5em) {
  .overlay {
    height: 70%;
    font-size: 34px;
  }
}

nav a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
}

nav a:after {
  position: absolute;
  left: 50%;
  right: 50%;
  height: 3px;
  bottom: 0px;
  content: "";
  background-color: #1DBFEB;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  -o-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.6s;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

nav a:hover:after, .active a:after {
  left: 10px;
  right: 10px;
}

.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -moz-transition: visibility 0.5s;
  -o-transition: visibility 0.5s;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
}
.overlay-hugeinc.open {
  height: 100%;
  opacity: 1;
  visibility: visible;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.overlay-hugeinc.open nav ul {
  opacity: 1;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.overlay-hugeinc nav {
  -moz-perspective: 1200px;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
.overlay-hugeinc nav ul {
  opacity: 0.4;
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  -moz-transform: rotateX(35deg);
  -ms-transform: rotateX(35deg);
  -webkit-transform: rotateX(35deg);
  transform: rotateX(35deg);
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc.close nav ul {
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  -moz-transform: rotateX(-35deg);
  -ms-transform: rotateX(-35deg);
  -webkit-transform: rotateX(-35deg);
  transform: rotateX(-35deg);
}

.toggle span {
  display: block;
  background: white;
  width: 60px;
  height: 2px;
}

.toggle span:nth-child(1) {
  margin-bottom: 10px;
}

.toggle span:nth-child(3) {
  margin-top: 10px;
}

.toggle {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 45px;
  right: 30px;
}

h1.logo {
  margin-top: 15px;
  width: 230px;
  height: 69px;
  float: left;
  text-indent: -9999px;
}
h1.logo a {
  float: left;
  padding: 0 !important;
  margin: 0 !important;
  width: 230px;
  height: 69px;
  background-image: url("../images/common1.png");
  background-position: center 0;
  background-repeat: no-repeat;
  background-position: 0 -120px !important;
}

.mouse {
  width: 22px;
  position: absolute;
  height: 42px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #C40E22;
  bottom: 10px;
  left: 50%;
  margin-left: -12px;
  cursor: pointer;
}

.scroll {
  display: block;
  margin: 6px auto;
  width: 3px;
  height: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #1DBFEB;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: scroll;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
section, body, .container {
  text-align: center;
  color: white;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
}
.loader-wrapper .loader-section {
  position: fixed;
  left: 0;
  width: 100%;
  height: 51%;
  background: #1a1a1a;
  z-index: 1200;
}
.loader-wrapper .loader-section.left {
  top: 0;
}
.loader-wrapper .loader-section.right {
  bottom: 0;
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  z-index: 1300;
  width: 200px;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaded .loader-wrapper .loader-section.left {
  -moz-transform: translatey(-200%) rotate(-20deg) translatex(-6%);
  -ms-transform: translatey(-200%) rotate(-20deg) translatex(-6%);
  -webkit-transform: translatey(-200%) rotate(-20deg) translatex(-6%);
  transform: translatey(-200%) rotate(-20deg) translatex(-6%);
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: translateX 2s;
  -o-transition: translateX 2s;
  -webkit-transition: translateX 2s;
  transition: translateX 2s;
}

.loaded .loader-wrapper .loader-section.right {
  -moz-transform: translatey(200%) rotate(20deg) translatex(-6%);
  -ms-transform: translatey(200%) rotate(20deg) translatex(-6%);
  -webkit-transform: translatey(200%) rotate(20deg) translatex(-6%);
  transform: translatey(200%) rotate(20deg) translatex(-6%);
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -moz-transition: translateX 2s;
  -o-transition: translateX 2s;
  -webkit-transition: translateX 2s;
  transition: translateX 2s;
}

.loaded .loader {
  opacity: 0;
}

.loaded .loader-wrapper {
  visibility: hidden;
}

.loaded .loader {
  opacity: 0;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded .loader-wrapper .loader-section.right,
.loaded .loader-wrapper .loader-section.left {
  -moz-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  -o-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
  -webkit-transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.3s;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
}

.loaded .loader-wrapper {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: all 0.3s ease-out 1s;
  -o-transition: all 0.3s ease-out 1s;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 1s;
  transition: all 0.3s ease-out 1s;
}

#loadercontainer {
  display: inline-block;
  width: 180px;
  height: 30px;
  margin: 0 auto;
}

.dots {
  float: left;
  width: 18px;
  height: 30px;
  position: relative;
}
.dots:before, .dots:after {
  content: "";
  display: block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.dots:before {
  height: 4px;
  width: 4px;
  background-color: #1DBFEB;
  z-index: -1;
}
.dots:after {
  height: 9px;
  width: 9px;
  background-color: #C40E22;
  z-index: 1;
}
.dots:nth-child(1):before {
  -moz-animation: waveBefore 0.9s 0s linear infinite;
  -webkit-animation: waveBefore 0.9s 0s linear infinite;
  animation: waveBefore 0.9s 0s linear infinite;
}
.dots:nth-child(1):after {
  -moz-animation: waveAfter 0.9s 0s linear infinite;
  -webkit-animation: waveAfter 0.9s 0s linear infinite;
  animation: waveAfter 0.9s 0s linear infinite;
}
.dots:nth-child(2):before {
  -moz-animation: waveBefore 0.9s 0.09s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.09s linear infinite;
  animation: waveBefore 0.9s 0.09s linear infinite;
}
.dots:nth-child(2):after {
  -moz-animation: waveAfter 0.9s 0.09s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.09s linear infinite;
  animation: waveAfter 0.9s 0.09s linear infinite;
}
.dots:nth-child(3):before {
  -moz-animation: waveBefore 0.9s 0.18s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.18s linear infinite;
  animation: waveBefore 0.9s 0.18s linear infinite;
}
.dots:nth-child(3):after {
  -moz-animation: waveAfter 0.9s 0.18s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.18s linear infinite;
  animation: waveAfter 0.9s 0.18s linear infinite;
}
.dots:nth-child(4):before {
  -moz-animation: waveBefore 0.9s 0.27s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.27s linear infinite;
  animation: waveBefore 0.9s 0.27s linear infinite;
}
.dots:nth-child(4):after {
  -moz-animation: waveAfter 0.9s 0.27s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.27s linear infinite;
  animation: waveAfter 0.9s 0.27s linear infinite;
}
.dots:nth-child(5):before {
  -moz-animation: waveBefore 0.9s 0.36s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.36s linear infinite;
  animation: waveBefore 0.9s 0.36s linear infinite;
}
.dots:nth-child(5):after {
  -moz-animation: waveAfter 0.9s 0.36s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.36s linear infinite;
  animation: waveAfter 0.9s 0.36s linear infinite;
}
.dots:nth-child(6):before {
  -moz-animation: waveBefore 0.9s 0.45s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.45s linear infinite;
  animation: waveBefore 0.9s 0.45s linear infinite;
}
.dots:nth-child(6):after {
  -moz-animation: waveAfter 0.9s 0.45s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.45s linear infinite;
  animation: waveAfter 0.9s 0.45s linear infinite;
}
.dots:nth-child(7):before {
  -moz-animation: waveBefore 0.9s 0.54s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.54s linear infinite;
  animation: waveBefore 0.9s 0.54s linear infinite;
}
.dots:nth-child(7):after {
  -moz-animation: waveAfter 0.9s 0.54s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.54s linear infinite;
  animation: waveAfter 0.9s 0.54s linear infinite;
}
.dots:nth-child(8):before {
  -moz-animation: waveBefore 0.9s 0.63s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.63s linear infinite;
  animation: waveBefore 0.9s 0.63s linear infinite;
}
.dots:nth-child(8):after {
  -moz-animation: waveAfter 0.9s 0.63s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.63s linear infinite;
  animation: waveAfter 0.9s 0.63s linear infinite;
}
.dots:nth-child(9):before {
  -moz-animation: waveBefore 0.9s 0.72s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.72s linear infinite;
  animation: waveBefore 0.9s 0.72s linear infinite;
}
.dots:nth-child(9):after {
  -moz-animation: waveAfter 0.9s 0.72s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.72s linear infinite;
  animation: waveAfter 0.9s 0.72s linear infinite;
}
.dots:nth-child(10):before {
  -moz-animation: waveBefore 0.9s 0.81s linear infinite;
  -webkit-animation: waveBefore 0.9s 0.81s linear infinite;
  animation: waveBefore 0.9s 0.81s linear infinite;
}
.dots:nth-child(10):after {
  -moz-animation: waveAfter 0.9s 0.81s linear infinite;
  -webkit-animation: waveAfter 0.9s 0.81s linear infinite;
  animation: waveAfter 0.9s 0.81s linear infinite;
}

@-moz-keyframes waveBefore {
  0% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
  10% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  20% {
    height: 6px;
    width: 6px;
    top: 100%;
    z-index: 1;
  }
  30% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  40% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  50% {
    height: 9px;
    width: 9px;
    z-index: 1;
  }
  60% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  70% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  80% {
    height: 6px;
    width: 6px;
    top: 0;
    z-index: -1;
  }
  90% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  100% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
}
@-webkit-keyframes waveBefore {
  0% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
  10% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  20% {
    height: 6px;
    width: 6px;
    top: 100%;
    z-index: 1;
  }
  30% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  40% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  50% {
    height: 9px;
    width: 9px;
    z-index: 1;
  }
  60% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  70% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  80% {
    height: 6px;
    width: 6px;
    top: 0;
    z-index: -1;
  }
  90% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  100% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
}
@keyframes waveBefore {
  0% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
  10% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  20% {
    height: 6px;
    width: 6px;
    top: 100%;
    z-index: 1;
  }
  30% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  40% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  50% {
    height: 9px;
    width: 9px;
    z-index: 1;
  }
  60% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  70% {
    height: 7px;
    width: 7px;
    z-index: 1;
  }
  80% {
    height: 6px;
    width: 6px;
    top: 0;
    z-index: -1;
  }
  90% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  100% {
    height: 4px;
    width: 4px;
    top: 50%;
    z-index: -1;
  }
}
@-moz-keyframes waveAfter {
  0% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
  10% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  20% {
    height: 7px;
    width: 7px;
    top: 0;
    z-index: -1;
  }
  30% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  40% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  50% {
    height: 4px;
    width: 4px;
    z-index: -1;
  }
  60% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  70% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  80% {
    height: 7px;
    width: 7px;
    top: 100%;
    z-index: 1;
  }
  90% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  100% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
}
@-webkit-keyframes waveAfter {
  0% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
  10% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  20% {
    height: 7px;
    width: 7px;
    top: 0;
    z-index: -1;
  }
  30% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  40% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  50% {
    height: 4px;
    width: 4px;
    z-index: -1;
  }
  60% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  70% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  80% {
    height: 7px;
    width: 7px;
    top: 100%;
    z-index: 1;
  }
  90% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  100% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
}
@keyframes waveAfter {
  0% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
  10% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  20% {
    height: 7px;
    width: 7px;
    top: 0;
    z-index: -1;
  }
  30% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  40% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  50% {
    height: 4px;
    width: 4px;
    z-index: -1;
  }
  60% {
    height: 5px;
    width: 5px;
    z-index: -1;
  }
  70% {
    height: 6px;
    width: 6px;
    z-index: -1;
  }
  80% {
    height: 7px;
    width: 7px;
    top: 100%;
    z-index: 1;
  }
  90% {
    height: 8px;
    width: 8px;
    z-index: 1;
  }
  100% {
    height: 9px;
    width: 9px;
    top: 50%;
    z-index: 1;
  }
}
